.no-comments {
    margin: 50px;
}

.comment {
    margin: 50px;
}

.comment-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.comment-author {
    margin-right: 10px;
    font-size: 20px;
}

.comment-content {
    margin-top: 10px;
    font-size: 16px;
}

.comment-date {
    margin: 0 10px;
    font-size: 12px;
    vertical-align: middle;
}
.update-button {
    text-decoration: none;
}