.star-ratings-css {
    display: inline-block;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 125px;
    margin: 0 auto;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
}

.star-ratings-css::before {
    content: '★★★★★';
    opacity: .3;
}

.star-ratings-css::after {
    color: gold;
    content: '★★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    width: var(--percentage);
    overflow: hidden;
}